{% extends "base.html" %}

{% block content %}
	<h1>{{ car.model }}</h1>
	<p>Manufacturer: {{ car.manufacturer.name }}, {{ car.manufacturer.country }}</p>

	<h2>Drivers
		{% if user.is_authenticated %}
			{% if user in car.drivers.all %}
				<form action="{% url 'taxi:remove-driver' car.id %}" method="post" style="display: inline;">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger" style="float: right; background-color: red;">Delete Me from This
						Car
					</button>
				</form>
			{% else %}
				<form action="{% url 'taxi:assign-driver' car.id %}" method="post" style="display: inline;">
					{% csrf_token %}
					<button type="submit" class="btn btn-primary" style="float: right; background-color: green;">Assign Me to This
						Car
					</button>
				</form>
			{% endif %}
		{% endif %}
	</h2>
	<hr>
	{% for driver in car.drivers.all %}
		<strong>Username:</strong> {{ driver.username }}<br>
		<strong>Full name:</strong> {{ driver.first_name }} {{ driver.last_name }}<br>
		<strong>License number:</strong> {{ driver.license_number }}
		<hr>
	{% endfor %}
	<a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">Update</a>
	<a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">Delete</a>

{% endblock %}
